In [10]:
print("Joe said, \"Help, help\" and then he fell")

Joe said, "Help, help" and then he fell

In [1]:
a=1,2,3,4,5
type(a)

tuple

In [2]:
a=(1,2,3,4,5)
type(a)
a[0]
a[3]

4

In [4]:
a[1:4]

(2, 3, 4)

In [5]:
a=(1,2,3,4,5,6,7,8,9)
a[:9:2]

(1, 3, 5, 7, 9)

In [6]:
#more advanced by adding in variable names

a=(1,2,3,4,5,6,7,8,9)
idx_start=0
idx_end=9
idx_steps=2
a[idx_start:idx_end:idx_steps]

(1, 3, 5, 7, 9)

In [10]:
#using a multiple dementional tuple how do we get 18
a=(1,2,(4,5,(9,18,7),7),4,5,6,7,8,9)
a

(1, 2, (4, 5, (9, 18, 7), 7), 4, 5, 6, 7, 8, 9)

In [11]:
a[2]

(4, 5, (9, 18, 7), 7)

In [12]:
a[2][2][1] #each set of brackets represents an index of that dimension

18

In [16]:
#using a multiple dimentional tuple how do we get 18
a=(1,2,(4,5,7),4,5,(9,18,(2.1,1.27)),7,8,9)
a

(1, 2, (4, 5, 7), 4, 5, (9, 18, (2.1, 1.27)), 7, 8, 9)

In [17]:
a[5][1]

18

In [18]:
#using a multiple dimentional tuple how do we get 1.27
a=(1,2,(4,5,7),4,5,(9,18,(2.1,1.27)),7,8,9)
a

(1, 2, (4, 5, 7), 4, 5, (9, 18, (2.1, 1.27)), 7, 8, 9)

In [19]:
a[5][2][1]

1.27

In [20]:
# a=() is tuple a
# a() is function a
# a[] is indexing of a
# a=[] is a list a
a=[1,2,[4,5,7],4,5,[9,18,[2.1,1.27]],7,8,9]
a

[1, 2, [4, 5, 7], 4, 5, [9, 18, [2.1, 1.27]], 7, 8, 9]

In [22]:
#using a multiple dimentional list how do we get 1.27
a[5][2][1]

1.27

In [23]:
a=[1,"xyz",2.1,True]
b=(1,"xyz",2.1,True)

In [24]:
#print 2.1
a[2]

2.1

In [25]:
#to change the list value simply make index 2 the new value
a[2]=2.2
a

[1, 'xyz', 2.2, True]

In [26]:
#to change the value of a tuple this will not work
b[2]=2.2
b
#we would have to drop in an entirely new tuple
#why use tuples, e-mails may not change and it would be downloaded as tuple, generally we use lists
#for speed we will come across numpy array which would operate faster (4 times faster)

TypeError: 'tuple' object does not support item assignment

In [29]:
a=[1,"xyz",2.1,True]

print(type(a))
print(type(a[0]))
print(type(a[1]))
print(type(a[2]))
print(type(a[3]))

<class 'list'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [31]:
student={"id":1,"name":"xyz","grade":2.1,"active":True}

In [33]:
student["grade"]

2.1

In [34]:
student["grade"]=2.2
student

{'id': 1, 'name': 'xyz', 'grade': 2.2, 'active': True}

In [35]:
a="hElLo wOrlD"
a.title()

'Hello World'

In [37]:
d = {1:'a',2:'b'}
d[3]=d[1]
d[1]=d.pop(3)
d

{1: 'a', 2: 'b'}